.class_menu {
    display: inline-block;
    width: 150px;
    height: 53px;
    line-height: 43px;
    background-color: rgb(255, 255, 255);
    border: solid 2px rgb(220, 220, 220);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
    transition: all .3s;
}

.class_menu:nth-child(1) {
    position: relative;
    left: 6px;
}

.class_menu:nth-child(2) {
}

.class_menu a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: 600;
    color: rgb(150, 150, 150);
    text-align: center;
    transition: all .2s;
}

.class_menu.on {
    height: 55px;
    line-height: 45px;
    border-bottom: none;
}

.class_menu a.on {
    font-weight: 800;
    background-color: rgb(245, 248, 250);
    color: rgb(32, 175, 68);
}

.class_menu:hover {
    transform: translateY(-10px);
}

.class_menu:hover a {
    color: rgb(32, 175, 68);
}

/**/

.contents_box{
    position: relative;
    top: 20px;
    width: 100%;
    max-width: 1400px;
    height: 700px;
    max-height: 700px;
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(220, 220, 220);
    margin: auto;
}

.l_section {
    display: inline-block;
    width: calc(40% - 43px);
    height: 100%;
    border-right: solid 1px rgb(220, 220, 220);
    padding: 0 20px;
}

.table_option_line {
    width: 100%;
    height: 37px;
}

.table_option_line:nth-child(1) {
    margin-top: 20px;
}

.option_title {
    display: inline-block;
    width: 100px;
    font-size: 18px;
    font-weight: 600;
    border-left: solid 4px rgb(32, 175, 68);
    padding-left: 15px;
}

.option_contnets {
    display: inline-block;
    width: calc(100% - 128px);
    vertical-align: top;
}

.type_chk {
    display: inline-block;
    width: auto;
    margin-right: 15px;
}

.type_chk input {
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
}

.type_chk p {
    display: inline-block;
}

.option_contnets select {
    width: 120px;
    height: 25px;
    padding: 3px 5px;
}

.option_contnets>input {
    width: 270px;
    height: 15px;
    padding: 3px 5px;
}

.date_range {
    display: inline-block;
}

.date_range>input {
    width: 80px;
    height: 15px;
    padding: 3px 5px;
}

.calendar_img {
    display: inline-block;
    width: 25px;
    height: 25px;
    cursor: pointer;
    vertical-align: middle;
}

.calendar_img img {
    width: 100%;
}

.option_contnets>span {
    margin: 0 10px;
}

.search_btn {
    display: inline-block;
    width: 80px;
    height: 25px;
    line-height: 25px;
    border-radius: 20px;
    background-color: rgb(32, 175, 68);
    margin-left: 10px;
}

.search_btn a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-align: center;
}

.class_schedule_table {
    width: 100%;
    height: 480px;
    border: solid 1px rgb(220, 220, 220);
    background-color: rgb(240, 240, 240);
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 10px;
}

.class_schedule_table table {
    width: 100%;
}

.class_schedule_table table thead tr th {
    font-size: 14px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    background-color: rgb(41, 124, 62);
    padding: 5px;
}

.class_schedule_table table tbody tr td {
    font-size: 14px;
    color: rgb(50, 50, 50);
    text-align: center;
    border-right: solid 1px rgb(220, 220, 220);
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 5px;
    transition: all .1s;
}

.class_schedule_table table tbody tr td:nth-child(2) {
    text-align: left;
}

.class_schedule_table table tbody tr:nth-child(2n) td {
    background-color: rgb(252, 252, 252);
}

.class_schedule_table table tbody tr:hover td {
    background-color: rgb(255, 213, 74);
}

.new {
    display: inline-block;
    width: 40px;
    height: 18px;
    line-height: 18px;
    border-radius: 10px;
    background-color: rgb(62, 118, 202);
    vertical-align: middle;
}

.new p {
    font-size: 12px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-align: center;
}

.have_sign {
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background-color: rgb(32, 175, 68);
    margin: auto;
}

/**/

.r_section {
    display: inline-block;
    width: calc(60% - 2px);
    height: 100%;
    vertical-align: top;
}

.board_line {
    width: 100%;
    height: 40px;
    border-bottom: solid 1px rgb(220, 220, 220);
}

.title_side {
    position: relative;
    right: 4px;
    display: inline-block;
    width: 150px;
    height: 100%;
    line-height: 40px;
    background-color: rgb(41, 124, 62);
    border-right: solid 1px rgb(220, 220, 220);
}

.title_side p {
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-align: center;
}

.content_side {
    display: inline-block;
    width: calc(100% - 165px);
    padding-left: 10px;
}

.content_side p {
    font-size: 14px;
}

.content_side input {
    width: 500px;
    height: 15px;
    padding: 3px 5px;
}

.board_main_text_section {
    position: relative;
    right: 4px;
    width: calc(100% - 36px);
    height: 447px;
    background-color: rgb(240, 240, 240);
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px 20px;
    border-bottom: solid 1px rgb(220, 220, 220);
}

.btn_section {
    width: calc(100% - 40px);
    height: 40px;
    padding: 0 20px;
    margin-top: 10px;
}

.r_btn_wrap {
    float: right;
}

.add_file_down_btn {
    width: 150px;
    height: 40px;
    line-height: 40px;
    background-color: rgb(32, 175, 68);
    border-radius: 30px;
}

.add_file_down_btn a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-align: center;
}