.head_left p {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
}

.consult_list_btn {
    display: inline-block;
    width: 100px;
    height: 28px;
    line-height: 28px;
    border-radius: 20px;
    border: solid 1px rgb(32, 175, 68);
    transition: all .1s;
}

.consult_list_btn a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: 600;
    color: rgb(32, 175, 68);
    text-align: center;
    transition: all .1s;
}

.consult_list_btn:hover {
    background-color: rgb(32, 175, 68);
}

.consult_list_btn:hover a {
    color: rgb(255, 255, 255);
}

/**/

.consult_board_box {
    position: relative;
    top: 20px;
    width: 100%;
    max-width: 1400px;
    height: 700px;
    max-height: 700px;
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(220, 220, 220);
    margin: auto;
}

.head_line {
    width: calc(50% - 68px);
    height: 30px;
    padding: 0 20px;
    margin-top: 20px;
}

.head_line:nth-child(3) {
    width: calc(100% - 40px);
}

.writer {
    display: inline-block;
    border-left: solid 4px rgb(32, 175, 68);
    padding-left: 15px;
}

.writer p {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    color: rgb(150, 150, 150);
}

.writer p:nth-child(2) {
    margin-left: 10px;
}

.write_date {
    display: inline-block;
    float: right;
}

.write_date p {
    display: inline-block;
    font-size: 14px;
    color: rgb(150, 150, 150);
}

.write_date input {
    width: 100px;
    height: 15px;
    padding: 5px;
}

.calendar_img {
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    cursor: pointer;
}

.consult_detail {
    display: inline-block;
    border-left: solid 4px rgb(32, 175, 68);
    padding-left: 15px;
}

.consult_detail p {
    font-size: 18px;
    font-weight: 600;
}

.calendar_img img {
    width: 100%;
}

.head_line select {
    width: 120px;
    height: 30px;
    float: right;
    margin-left: 10px;
    padding: 5px;
}

.radio_box {
    display: inline-block;
    width: auto;
    border-right: solid 1px rgb(220, 220, 220);
    padding: 0 20px;
}

.radio_box:nth-child(1) {
    padding-left: 0;
}

.radio_div {
    display: inline-block;
    width: auto;
    margin: 3px 10px;
}

.radio_div input {
    width: 18px;
    height: 18px;
    vertical-align: middle;
}

.radio_div p {
    display: inline-block;
    font-size: 14px;
    margin-left: 5px;
}

.textarea_section {
    width: calc(100% - 40px);
    height: auto;
    padding: 20px 20px 10px 20px;
}

.textarea_section textarea {
    width: calc(100% - 42px);
    height: 400px;
    padding: 10px 20px;
}

.btn_section {
    width: calc(100% - 40px);
    height: 40px;
    padding: 0 20px;
}

.save_btn {
    width: 130px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    background-color: rgb(32, 175, 68);
    float: right;
}

.save_btn a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-align: center;
}

.back_logo {
    position: absolute;
    top: 20px;
    right: 40px;
    width: 430px;
    opacity: .1;
}

.back_logo img {
    width: 100%;
}