.head_left p {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
}

.consult_mane_btn {
    display: inline-block;
    width: 100px;
    height: 28px;
    line-height: 28px;
    border-radius: 20px;
    border: solid 1px rgb(32, 175, 68);
    transition: all .1s;
}

.consult_mane_btn a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: 600;
    color: rgb(32, 175, 68);
    text-align: center;
    transition: all .1s;
}

.consult_mane_btn:hover {
    background-color: rgb(32, 175, 68);
}

.consult_mane_btn:hover a {
    color: rgb(255, 255, 255);
}

/**/

.student_consult_box {
    position: relative;
    top: 20px;
    width: 100%;
    max-width: 1400px;
    height: 700px;
    max-height: 700px;
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(220, 220, 220);
    margin: auto;
}

.head_line {
    width: calc(100% - 40px);
    height: 40px;
    padding: 0 20px;
    margin-top: 20px;
}

.day_input {
    display: inline-block;
}

.day_input>div {
    display: inline-block;
}

.day_input>span {
    font-size: 22px;
    font-weight: 600;
    margin: 0 15px;
}

.day_input>div>input {
    width: 100px;
    height: 15px;
    padding: 5px;
}

.calendar_img {
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-left: 5px;
}

.calendar_img img {
    width: 100%;
}

.month_btn_wrap {
    display: inline-block;
    margin-left: 40px;
}

.month_btn {
    display: inline-block;
    width: 60px;
    height: 25px;
    line-height: 25px;
    border-radius: 5px;
    background-color: rgb(200, 200, 200);
}

.month_btn a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}

.search_btn {
    width: 100px;
    height: 30px;
    line-height: 30px;
    border-radius: 20px;
    background-color: rgb(32, 175, 68);
    /*float: right;*/
    display: inline-block;
    margin-left: 40px;
}

.search_btn a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-align: center;
}

.consult_table {
    width: calc(100% - 40px);
    height: 250px;
    max-height: 250px;
    border: solid 1px rgb(220, 220, 220);
    background-color: rgb(235, 235, 235);
    overflow-x: hidden;
    overflow-y: auto;
    margin: auto;
    margin-top: 10px;
}

.consult_table table {
    width: 100%;
}

.consult_table table thead tr th {
    width: 20%;
    font-size: 14px;
    font-weight: 400;
    background-color: rgb(41, 124, 62);
    color: rgb(255, 255, 255);
    border-bottom: solid 1px rgb(220, 220, 220);
    padding: 5px;
}

.consult_table table tbody tr td {
    font-size: 14px;
    border-right: solid 1px rgb(220, 220, 220);
    text-align: center;
    padding: 5px 0;
}

.consult_table table tbody tr:nth-child(2n) td {
    background-color: rgb(245, 245, 245);
}

.textarea_input_section {
    width: calc(100% - 40px);
    margin: auto;
    margin-top: 10px;
}

.textarea_input_section p {
    font-size: 18px;
    font-weight: 600;
    border-left: solid 4px rgb(32, 175, 68);
    padding-left: 15px;
}

.textarea_input_section textarea {
    width: calc(100% - 42px);
    height: 200px;
    padding: 10px 20px;
    margin-top: 10px;
}

.btn_section {
    width: 100%;
    height: 40px;
    margin-top: 10px;
}

.btn_wrap {
    height: 40px;
    float: right;
}

.modify_btn {
    display: inline-block;
    width: 130px;
    height: 40px;
    line-height: 40px;
    background-color: rgb(32, 175, 68);
    border-radius: 30px;
}

.modify_btn a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-align: center;
}

.delete_btn {
    display: inline-block;
    width: 130px;
    height: 38px;
    line-height: 38px;
    border: solid 1px rgb(32, 175, 68);
    border-radius: 30px;
    margin-left: 5px;
}

.delete_btn a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}
