.head_left p:nth-child(2),
.head_left p:nth-child(3),
.head_left p:nth-child(4) {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
}

/**/

.student_table_section {
    position: relative;
    top: 20px;
    width: 100%;
    max-width: 1400px;
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(220, 220, 220);
    margin: auto;
}

.student_table_section table {
    width: 100%;
}

.student_table_section table thead tr th {
    height: 30px;
    font-size: 18px;
    background-color: rgb(32, 175, 68);
    color: rgb(255, 255, 255);
    border-bottom: solid 1px rgb(220, 220, 220);
    padding: 10px;
}

.student_table_section table tbody tr td {
    background-color: rgb(233, 240, 243);
    border-right: solid 1px rgb(230, 230, 230);
    text-align: center;
    cursor: pointer;
    padding: 10px 0;
}

.student_table_section table tbody tr:nth-child(2n) td {
    background-color: rgb(248, 251, 252);
}

.student_table_section table thead tr th:nth-child(2),
.student_table_section table thead tr th:nth-child(3) {
    width: 450px;
}

.student_table_section table thead tr th:nth-child(4) {
    width: 100px;
}

.student_table_section table thead tr th:nth-child(5) {
    width: 150px;
}

.chk_box {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 20px;
    background-color: rgb(150, 150, 150);
}

.chk_box:nth-child(2) {
    margin-left: 10px;
}

.chk_box.on {
    background-color: rgb(67, 224, 53);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
}

.scoring_btn {
    width: 100px;
    height: 25px;
    line-height: 25px;
    border-radius: 20px;
    background-color: rgb(200, 200, 200);
    margin: auto;
}

.scoring_btn a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: 600;
}

.scoring_btn a.on {
    color: rgb(32, 175, 68);
    transition: all .1s;
}

.scoring_btn.on {
    height: 23px;
    line-height: 23px;
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(32, 175, 68);
    transition: all .1s;
}

.scoring_btn.on:hover {
    background-color: rgb(32, 175, 68);
}

.scoring_btn.on:hover a.on {
    color: rgb(255, 255, 255);
}