.homework_menu {
    display: inline-block;
    width: 130px;
    height: 53px;
    line-height: 37px;
    background-color: rgb(255, 255, 255);
    border: solid 2px rgb(220, 220, 220);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
    transition: all .3s;
}

.homework_menu:nth-child(1) {
    position: relative;
    left: 6px;
}

.homework_menu a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 600;
    color: rgb(150, 150, 150);
    text-align: center;
    transition: all .2s;
}

.homework_menu.on {
    height: 55px;
    line-height: 37px;
    border-bottom: none;
}

.homework_menu a.on {
    font-weight: 800;
    background-color: rgb(245, 248, 250);
    color: rgb(32, 175, 68);
}

.homework_menu:hover {
    transform: translateY(-4px);
}

.homework_menu:hover a {
    color: rgb(32, 175, 68);
}

.wrapper {
    position: relative;
    top: 20px;
    width: 100%;
    max-width: 1400px;
    margin: auto;
}

.left_box {
    display: inline-block;
    width: 360px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(220, 220, 220);
    vertical-align: top;
    padding: 0 20px;
    padding-bottom: 20px;
    margin-right: 10px;
}

.box_title {
    font-size: 16px;
    font-weight: 600;
    border-left: solid 2px rgb(32, 175, 68);
    padding-left: 10px;
    margin-top: 20px;
}

.box_menu_wrap {
    margin-top: 20px;
}

.box_menu_wrap p {
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    margin-right: 20px;
}

.box_menu_wrap select {
    display: inline-block;
    width: 100px;
    height: 30px;
    padding: 5px;
}

.grade_select_box {
    width: calc(100% - 2px);
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgb(235, 235, 235);
    border: solid 1px rgb(220, 220, 220);
    margin-top: 10px;
}

.class_select_box {
    width: calc(100% - 2px);
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgb(235, 235, 235);
    border: solid 1px rgb(220, 220, 220);
    margin-top: 10px;
}

.student_list_box {
    width: calc(100% - 2px);
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgb(235, 235, 235);
    border: solid 1px rgb(220, 220, 220);
    margin-top: 10px;
}

table {
    width: 100%;
}

table thead tr th {
    font-size: 14px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    background-color: rgb(41, 124, 62);
    padding: 5 15 5 15px;
}

table tbody tr td {
    font-size: 14px;
    color: rgb(50, 50, 50);
    text-align: center;
    padding: 5px;
}

table tbody tr:nth-child(2n) {
    background-color: rgb(252, 252, 252);
}

.select_table table tbody tr td {
    cursor: pointer;
}

/**/

.grade_select_box table tbody tr.on {
    background-color: rgb(255, 213, 74) !important;
}

.class_select_box table tbody tr.on {
    background-color: rgb(255, 213, 74) !important;
}

.student_list_box table tbody tr.on {
    background-color: rgb(255, 213, 74) !important;
}

/**/

.select_table table tbody tr:hover td {
    background-color: rgb(255, 213, 74);
}

.class_select_box table tbody tr td span:nth-child(2) {
    margin-left: 10px;
}

.right_wrap {
    display: inline-block;
    width: calc(100% - 458px);
}

.right_box {
    width: 100%;
    height: 100%;
    max-height: 650px;
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(220, 220, 220);
    padding: 0 20px;
    padding-bottom: 40px;
}

.table_option_wrap {
    width: 100%;
    height: 20px;
    margin-top: 20px;
}

.table_option {
    height: 20px;
    float: right;
}

.table_option input {
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
}

.table_option p {
    display: inline-block;
    font-size: 14px;
    margin-left: 10px;
    margin-right: 1px;
}

.homework_list_table {
    max-height: 550px;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: rgb(235, 235, 235);
    border: solid 1px rgb(220, 220, 220);
    margin-top: 10px;
    padding-bottom: 10px;
}

.homework_list_table table {
    width: 1900px;
}

.homework_list_table table thead tr th:nth-child(1) {
    width: 10px;
}
.homework_list_table table thead tr th {
    width: 70px;
}


.x_btn {
    width: 15px;
    height: 15px;
    cursor: pointer;
    padding: 0 5px;
}

.x_btn img {
    width: 100%;
}

.homework_list_table table tbody tr td {
    /*border-right: solid 1px rgb(220, 220, 220);*/
    padding: 10px 5px;
}

.homework_list_table table tbody tr td:nth-child(2) {
    max-width: 400px;
}

.homework_list_table table tbody tr td:nth-child(2) span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.homework_list_table table tbody tr td select {
    width: 90px;
    height: 20px;
    padding: 2px;
}

.resend_btn {
    width: 60px;
    height: 20px;
    line-height: 20px;
    border-radius: 15px;
    border: solid 1px rgb(150, 150, 150);
    background-color: rgb(255, 255, 255);
}

.add_btn_wrap {
    display: inline-block;
    width: 100%;
    height: 40px;
    padding-left: 40px;
    margin-top: 10px;
}

.add_btn {
    width: 100px;
    height: 35px;
    line-height: 35px;
    border-radius: 30px;
    background-color: rgb(32, 175, 68);
    float: right;
}

.add_btn a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-align: center;
}
.ui-datepicker-trigger {
    width: 20px;
    height: 20px;
}
.homework_cont td {
    width: 140px;
}
.homework_cont td:nth-child(1) {
    width: 30px;
}
.homework_cont td:nth-child(2) {
    max-width: 200px !important;
}
.homework_cont td:nth-child(2) input {
    width: 70px;
}