.homework_menu {
    display: inline-block;
    width: 130px;
    height: 53px;
    line-height: 37px;
    background-color: rgb(255, 255, 255);
    border: solid 2px rgb(220, 220, 220);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
    transition: all .3s;
}

.homework_menu:nth-child(1) {
    position: relative;
    left: 6px;
}

.homework_menu a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 600;
    color: rgb(150, 150, 150);
    text-align: center;
    transition: all .2s;
}

.homework_menu.on {
    height: 55px;
    line-height: 37px;
    border-bottom: none;
}

.homework_menu a.on {
    font-weight: 800;
    background-color: rgb(245, 248, 250);
    color: rgb(32, 175, 68);
}

.homework_menu:hover {
    transform: translateY(-4px);
}

.homework_menu:hover a {
    color: rgb(32, 175, 68);
}

.wrapper {
    position: relative;
    top: 20px;
    width: 100%;
    max-width: 1400px;
    margin: auto;
}

.left_box {
    display: inline-block;
    width: 360px;
    height: auto;
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(220, 220, 220);
    vertical-align: top;
    padding: 0 20px;
    padding-bottom: 20px;
    margin-right: 10px;
}

.box_title {
    font-size: 16px;
    font-weight: 600;
    border-left: solid 2px rgb(32, 175, 68);
    padding-left: 10px;
    margin-top: 20px;
}

.box_menu_wrap {
    margin-top: 20px;
}

.box_menu_wrap p {
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    margin-right: 20px;
}

.box_menu_wrap select {
    display: inline-block;
    width: 100px;
    height: 30px;
    padding: 5px;
}

.grade_select_box {
    width: calc(100% - 2px);
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgb(235, 235, 235);
    border: solid 1px rgb(220, 220, 220);
    margin-top: 10px;
}

.class_select_box {
    width: calc(100% - 2px);
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgb(235, 235, 235);
    border: solid 1px rgb(220, 220, 220);
    margin-top: 10px;
}

.student_list_box {
    width: calc(100% - 2px);
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgb(235, 235, 235);
    border: solid 1px rgb(220, 220, 220);
    margin-top: 10px;
}

.student_list_box tr td input {
    height: 15px;
    vertical-align: top;
    margin-right: 10px;
}

table {
    width: 100%;
}

table thead tr th {
    font-size: 14px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    background-color: rgb(41, 124, 62);
    padding: 5px;
}

table tbody tr td {
    font-size: 14px;
    color: rgb(50, 50, 50);
    text-align: center;
    padding: 5px;
}

table tbody tr:nth-child(2n) {
    background-color: rgb(252, 252, 252);
}

.select_table table tbody tr td {
    cursor: pointer;
}

/**/

.grade_select_box table tbody tr.on {
    background-color: rgb(255, 213, 74) !important;
}

.class_select_box table tbody tr.on {
    background-color: rgb(255, 213, 74) !important;
}

/**/

.select_table table tbody tr:hover td {
    background-color: rgb(255, 213, 74);
}

.class_select_box table tbody tr td span:nth-child(2) {
    margin-left: 10px;
}

.right_wrap {
    display: inline-block;
    width: calc(100% - 458px);
}

.right_box {
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(220, 220, 220);
    padding: 0 20px;
}

.right_box_1 {
    border-bottom: solid 1px rgb(220, 220, 220);
    padding-bottom: 20px;
}

.homework_title_input {
    margin-top: 20px;
}

.homework_title_input input {
    display: inline-block;
    width: 200px;
    height: 15px;
    font-size: 18px;
    padding: 5px;
    margin-left: 10px;
}

.homework_title_input input::placeholder {
    font-size: 16px;
}

.l_text {
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
}

.homework_deadline_wrap {
    margin-top: 10px;
}

.homework_deadline_wrap>div {
    display: inline-block;
}

.homework_deadline_wrap>span {
    font-size: 22px;
    margin-left: 20px;
}

.end_ {
    margin-left: 20px;
}

.homework_deadline_wrap input {
    display: inline-block;
    width: 140px;
    height: 15px;
    padding: 5px;
    margin-left: 14px;
}

.calender_img {
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    cursor: pointer;
}

.calender_img img {
    width: 100%;
}

.right_box_2 {
    padding-bottom: 40px;
}

.book_table {
    width: calc(100% - 2px);
    overflow-x: auto;
    overflow-y: hidden;
    border: solid 1px rgb(220, 220, 220);
    margin-top: 10px;
}

.book_table tbody tr td {
    padding: 10px 5px;
    border-right: solid 1px rgb(220, 220, 220);
}

.book_table select {
    width: 100px;
    height: 20px;
    padding: 2px;
}

.add_btn_wrap {
    display: inline-block;
    width: 100%;
    height: 40px;
    padding-left: 40px;
    margin-top: 10px;
}

.add_btn {
    width: 100px;
    height: 35px;
    line-height: 35px;
    border-radius: 30px;
    background-color: rgb(32, 175, 68);
    float: right;
}

.add_btn a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-align: center;
}

.ui-datepicker th {
    background-color: rgb(255, 255, 255);
}

/*--------------------------*/

.placeholder {
    position: relative;
    display: inline-block;
    width: 120px;
    font-size: 13px;
    line-height: 1;
}

.placeholder.selector .var_option {/*문항번호텍스트*/
    position: relative;
}

.placeholder.selector .checkbox {/*문항체크박스위치*/
    position: absolute;
    display: block;
    width: 155px;
    top: 0;
    left: 0;
    bottom: 0;
}

.placeholder.selector .var_option .checkbox i {/*문항체크박스 크기 등*/
    width: 12px;
    height: 12px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 1px solid #aaa;
    border-radius: 1px;
    background-color: #efe;
}

.placeholder.selector .var_option.selected .checkbox i {/*선택된 체크박스의 컬러*/
    background-color: rgb(20, 150, 20);
    border-color: transparent;
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
}

.placeholder .var_option:hover {/*뒷배경색 onMouse*/
    /*background-color: #111;*/
    background-color: #eee;
}

.headbox {
    position: relative;
    border: 1px solid #bbb;
    cursor: default;
}

.headbox,
.combobox { /*헤드박스와 콤보박스*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.headbox .identifier {
    padding: 4px 22px 4px 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.arrow {
    position: absolute;
    background-image: url('/teacher/img/dropdown.png');
    background-size: auto;
    background-repeat: no-repeat;
    width: 13px;
    height: 13px;
    top: 0;
    right: 5px;
    bottom: 0;
    margin: auto;
}

.combobox { /*콤보박스*/
    position: relative;
    background-color: #fff;
    border: 1px solid #ccc;
    max-height: 140px;
    overflow: auto;
    width: 100%;
    z-index: 100;
}

.search input { /*검색창 크기*/
    width: 100%;
    padding: 2px 4px;
    border: 0;
}

.var_option,
.search,
.group_label { /*각 항목들간의 간격*/
    padding: 6px 8px;
    border-bottom: 1px solid #eee;
    cursor: default;
}


.group_label {
    font-weight: bold;
}

.hidden {
    display: none;
}