body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_box {
    position: relative;
    width: 300px;
    height: 500px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, .3);
    background-color: rgb(255, 255, 255);
    padding: 20px;
}

.logo_line {
    width: auto;
    margin-top: 50px;
}

.login_logo {
    width: 200px;
    margin: auto;
}

.login_logo img {
    width: 100%;
}

.logo_line p {
    position: relative;
    bottom: 3px;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
}

.login_info {
    position: relative;
    left: 4px;
    font-size: 16px;
    text-align: center;
    margin-top: 40px;
}

.login_input_section {
    width: 220px;
    margin: auto;
}

.login_input_section>form>input {
    width: calc(100% - 10px);
    height: 25px;
    border: solid 1px rgb(150, 150, 150);
    font-size: 16px;
    padding: 5px;
    margin-top: 10px;
}

.login_input_section>form>input:nth-child(2) {
    font-family: '돋움', Dotum, '굴림', Gulim, Helvetica, Sans-serif;
}

.login_input_section>form>input::placeholder {
    font-size: 16px;
}

.login_input_section select {
    width: calc(100% + 2px);
    height: 40px;
    border: solid 1px rgb(150, 150, 150);
    padding: 5px;
    margin-top: 10px;
}

.id_save {
    margin: auto;
    margin-top: 10px;
}

.id_save input {
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    margin-left: 50px;
}

.id_save p {
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
    margin-left: 10px;
}

.login_error_section {
    margin-top: 50px;
}

.login_error_section p {
    text-align: center;
}

.login_btn_section {
    position: absolute;
    bottom: 90px;
    left: 50%;
    transform: translateX(-50%);
    width: 220px;
    height: 40px;
    line-height: 40px;
    border-radius: 30px;
    background-color: rgb(32, 175, 68);
    margin: auto;
}

.login_btn_section a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-align: center;
    cursor: pointer;
}