.lookup_btn {
    width: 100px;
    height: 28px;
    line-height: 28px;
    border-radius: 20px;
    border: solid 1px rgb(32, 175, 68);
    transition: all .1s;
}

.lookup_btn a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: 600;
    color: rgb(32, 175, 68);
    text-align: center;
    transition: all .1s;
}

.lookup_btn:hover {
    background-color: rgb(32, 175, 68);
}

.lookup_btn:hover a {
    color: rgb(255, 255, 255);
}

/**/

.write_board_section {
    position: relative;
    top: 20px;
    width: 100%;
    max-width: 1400px;
    height: auto;
    max-height: 700px;
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(220, 220, 220);
    margin: auto;
}

.board_option_line {
    width: 100%;
    height: 35px;
    border-bottom: solid 1px rgb(220, 220, 220);
    border-right: solid 1px rgb(220, 220, 220);
    overflow: hidden;
}

.option_title {
    display: inline-block;
    width: 150px;
    height: 100%;
    line-height: 35px;
    background-color: rgb(41, 124, 62);
    text-align: center;
    vertical-align: top;
}

.option_title p {
    font-size: 16px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.option_content {
    display: inline-block;
    width: calc(100% - 165px);
    line-height: 35px;
    float: right;
}

.type_radio {
    display: inline-block;
    width: auto;
    margin-right: 20px;
}

.type_radio input {
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
}

.type_radio p {
    display: inline-block;
    margin-left: 10px;
}

.range_radio {
    display: inline-block;
    width: auto;
    margin-right: 20px;
}

.range_radio input {
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
}

.range_radio p {
    display: inline-block;
    margin-left: 10px;
}

.option_content>input {
    display: inline-block;
    width: 600px;
    height: 15px;
    font-size: 16px;
    padding: 5px;
}

.option_content>input::placeholder {
    font-size: 16px;
}

.board_option_line:nth-child(6) .option_content>input {
    font-size: 13px;
    padding: 0;
    border: none;
}

.option_content>select {
    width: 150px;
    height: 28px;
    padding: 5px 2px;
}

.file_add_btn {
    display: inline-block;
    width: 100px;
    height: 25px;
    line-height: 25px;
    border-radius: 20px;
    border: solid 1px rgb(150, 150, 150);
    margin-left: 10px;
}

.file_add_btn a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 14px;
    text-align: center;
}

.smart_edit_input {
    width: 100%;
    height: 410px;
    background-color: rgb(230, 230, 230);
    border-bottom: solid 1px rgb(220, 220, 220);
}

.btn_section {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    padding-bottom: 10px;
}

.btn_wrap {
    float: right;
}

.save_btn {
    display: inline-block;
    width: 100px;
    height: 35px;
    line-height: 35px;
    background-color: rgb(32, 175, 68);
    border-radius: 30px;
}

.save_btn a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-align: center;
}

.cancel_btn {
    display: inline-block;
    width: 100px;
    height: 35px;
    line-height: 35px;
    border: solid 1px rgb(32, 175, 68);
    border-radius: 30px;
    margin: 0 10px;
    box-sizing: border-box;
}

.cancel_btn a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 600;
    color: rgb(32, 175, 68);
    text-align: center;
}

/*----------------------*/

.ck-content {
    min-height: 300px;
}


