.write_btn {
    position: relative;
    bottom: 3px;
    width: 100px;
    height: 30px;
    line-height: 30px;
    border-radius: 20px;
    background-color: rgb(32, 175, 68);
}

.write_btn a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-align: center;
}

/**/

.contents_box{
    position: relative;
    top: 20px;
    width: 100%;
    max-width: 1400px;
    height: 700px;
    max-height: 700px;
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(220, 220, 220);
    margin: auto;
}

.l_section {
    display: inline-block;
    width: 508px;
    height: 100%;
    border-right: solid 1px rgb(220, 220, 220);
    padding: 0 20px;
}

.table_option_line {
    width: 100%;
    height: 37px;
}

.table_option_line:nth-child(2) {
    position: relative;
    top: 5px;
}

.table_option_line:nth-child(1) {
    margin-top: 20px;
}

.option_title {
    display: inline-block;
    width: 100px;
    font-size: 16px;
    font-weight: 600;
    border-left: solid 2px rgb(32, 175, 68);
    padding-left: 15px;
}

.table_option_line:nth-child(1) .option_title {
    position: relative;
    top: 3px;
}

.option_contnets {
    display: inline-block;
    /*width: calc(100% - 128px);*/
    vertical-align: top;
    float: right;
}

.option_contnets>input {
    width: 270px;
    height: 15px;
    padding: 3px 5px;
}

.search_btn {
    display: inline-block;
    width: 80px;
    height: 25px;
    line-height: 25px;
    border-radius: 20px;
    background-color: rgb(32, 175, 68);
    margin-left: 10px;
    cursor: pointer;
}

.search_btn a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-align: center;
}

.option_contnets>p {
    position: relative;
    top: 3px;
    font-size: 14px;
    font-weight: 600;
}

.class_schedule_table {
    position: relative;
    bottom: 3px;
    width: 100%;
    height: 540px;
    border: solid 1px rgb(220, 220, 220);
    background-color: rgb(240, 240, 240);
    overflow-x: hidden;
    overflow-y: auto;
}

.class_schedule_table table {
    width: 100%;
}

.class_schedule_table table thead tr th {
    font-size: 14px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    background-color: rgb(41, 124, 62);
    padding: 5px;
}

.class_schedule_table table tbody tr td {
    font-size: 14px;
    color: rgb(50, 50, 50);
    text-align: center;
    border-right: solid 1px rgb(220, 220, 220);
    cursor: pointer;
    padding: 5px;
    transition: all .1s;
}

.class_schedule_table table tbody tr td:nth-child(2) {
    text-align: left;
}

.class_schedule_table table tbody tr:nth-child(2n) td {
    background-color: rgb(252, 252, 252);
}

.class_schedule_table table tbody tr:hover td {
    background-color: rgb(255, 213, 74);
}

.new {
    display: inline-block;
    width: 40px;
    height: 18px;
    line-height: 18px;
    border-radius: 10px;
    background-color: rgb(62, 118, 202);
    vertical-align: middle;
}

.new p {
    font-size: 12px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-align: center;
}

.have_sign {
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background-color: rgb(32, 175, 68);
    margin: auto;
}

/**/

.r_section {
    position: relative;
    right: 4px;
    display: inline-block;
    width: calc(100% - 553px);
    height: 100%;
    float: right;
}

.board_line {
    width: 101%;
    height: 35px;
    border-bottom: solid 1px rgb(220, 220, 220);
}

.title_side {
    display: inline-block;
    width: 150px;
    height: 100%;
    line-height: 35px;
    letter-spacing: 2px;
    background-color: rgb(41, 124, 62);
    border-right: solid 1px rgb(220, 220, 220);
}

.title_side p {
    font-size: 16px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-align: center;
}

.content_side {
    width: calc(100% - 172px);
    height: calc(100% - 10px);
    float: right;
    padding: 0 10px;
}

.content_side p {
    font-size: 16px;
    line-height: 35px;
}

.content_side input {
    width: calc(100% - 20px);
    height: calc(100% - 10px);
    padding: 3px 5px;
}

.board_main_text_section {
    width: calc(100% - 36px);
    height: 420px;
    background-color: rgb(240, 240, 240);
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px 20px;
    border-bottom: solid 1px rgb(220, 220, 220);
}

.btn_section {
    width: calc(100% - 40px);
    height: 40px;
    padding: 0 20px;
    margin-top: 10px;
}

.l_btn_wrap {
    display: inline-block;
}

.modify_btn {
    display: inline-block;
    width: 100px;
    height: 35px;
    line-height: 35px;
    background-color: rgb(32, 175, 68);
    border-radius: 30px;
}

.modify_btn a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-align: center;
}

.delete_btn {
    display: inline-block;
    width: 100px;
    height: 35px;
    line-height: 35px;
    border: solid 1px rgb(32, 175, 68);
    border-radius: 30px;
    box-sizing: border-box;
}

.delete_btn a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 600;
    color: rgb(32, 175, 68);
    text-align: center;
}

.r_btn_wrap {
    float: right;
}

.add_file_down_btn {
    width: 130px;
    height: 35px;
    line-height: 35px;
    background-color: rgb(32, 175, 68);
    border-radius: 30px;
}

.add_file_down_btn a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-align: center;
}