.homework_menu {
    display: inline-block;
    width: 130px;
    height: 53px;
    line-height: 37px;
    background-color: rgb(255, 255, 255);
    border: solid 2px rgb(220, 220, 220);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
    transition: all .3s;
}

.homework_menu:nth-child(1) {
    position: relative;
    left: 6px;
}

.homework_menu a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 600;
    color: rgb(150, 150, 150);
    text-align: center;
    transition: all .2s;
}

.homework_menu.on {
    height: 55px;
    line-height: 37px;
    border-bottom: none;
}

.homework_menu a.on {
    font-weight: 800;
    background-color: rgb(245, 248, 250);
    color: rgb(32, 175, 68);
}

.homework_menu:hover {
    transform: translateY(-4px);
}

.homework_menu:hover a {
    color: rgb(32, 175, 68);
}

.wrapper {
    position: relative;
    top: 20px;
    width: 100%;
    max-width: 1400px;
    margin: auto;
    overflow: hidden;
}

.left_box {
    display: inline-block;
    width: 300px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(220, 220, 220);
    vertical-align: top;
    padding: 0 20px;
    padding-bottom: 20px;
    margin-right: 10px;
}

.box_title {
    font-size: 16px;
    font-weight: 600;
    border-left: solid 2px rgb(32, 175, 68);
    padding-left: 10px;
    margin-top: 20px;
}

.box_menu_wrap {
    margin-top: 20px;
}

.box_menu_wrap p {
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    margin-right: 20px;
}

.box_menu_wrap select {
    display: inline-block;
    width: 100px;
    height: 30px;
    border: solid 1px rgb(150, 150, 150);
    padding: 5px;
}

.grade_select_box {
    width: calc(100% - 2px);
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgb(235, 235, 235);
    border: solid 1px rgb(220, 220, 220);
    margin-top: 10px;
}

.class_select_box {
    width: calc(100% - 2px);
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgb(235, 235, 235);
    border: solid 1px rgb(220, 220, 220);
    margin-top: 10px;
}

.student_list_box {
    width: calc(100% - 2px);
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgb(235, 235, 235);
    border: solid 1px rgb(220, 220, 220);
    margin-top: 10px;
}

table {
    width: 100%;
}

table thead tr th {
    font-size: 14px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    background-color: rgb(41, 124, 62);
    padding: 5px;
}

table tbody tr td {
    font-size: 14px;
    color: rgb(50, 50, 50);
    text-align: center;
    padding: 5px;
}

table tbody tr:nth-child(2n) {
    background-color: rgb(252, 252, 252);
}

.select_table table tbody tr td {
    cursor: pointer;
}

/**/

.grade_select_box table tbody tr.on {
    background-color: rgb(255, 213, 74) !important;
}

.class_select_box table tbody tr.on {
    background-color: rgb(255, 213, 74) !important;
}

.student_list_box table tbody tr.on {
    background-color: rgb(255, 213, 74) !important;
}

/**/

.select_table table tbody tr:hover td {
    background-color: rgb(255, 213, 74);
}

.class_select_box table tbody tr td span:nth-child(2) {
    margin-left: 10px;
}

.right_wrap {
    display: inline-block;
    width: calc(100% - 352px);
    float: right;
}

.right_box {
    width: 100%;
    height: 666px;
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(220, 220, 220);
    box-sizing: border-box;
    padding: 0 20px;
}

.right_box_1 {
    border-bottom: solid 1px rgb(220, 220, 220);
    padding: 20px 0;
    overflow: hidden;
}

.r_left_box {
    display: inline-block;
    width: calc(50% - 2px);
}

.division {
    width: 100%;
    height: 30px;
    overflow: hidden;
    margin-top: 10px;
    white-space: nowrap;
}

.division:first-child {
    margin-top: 0;
}

.division input {
    border: solid 1px rgb(150, 150, 150);
}

.l_div_title {
    position: relative;
    top: 4px;
    display: inline-block;
    width: 90px;
    font-size: 16px;
    font-weight: 600;
    border-left: solid 2px rgb(32, 175, 68);
    padding-left: 10px;
}

.r_left_box .division:nth-child(2) .l_div_title {
    top: -7px;
}

.r_left_box .division:nth-child(2) input {
    position: relative;
    bottom: 8px;
}

.r_left_box .division:nth-child(3) input {
    position: relative;
    top: 1px;
}

.r_right_box .division:nth-child(2) .l_div_title {
    top: 2px;
}

.r_right_box .division:nth-child(2) input {
    position: relative;
    top: 1px;
}

.l_input {
    display: inline-block;
    width: auto;
    min-width: 130px;
    max-width: 250px;
    height: 15px;
    padding: 5px;
}

.division .score_input_1 {
    display: inline-block;
    width: 48px;
    height: 15px;
    padding: 5px;
}

.r_left_box .division:nth-child(2) input {
    width: 100px;
    border: solid 1px rgb(150, 150, 150);
}

.calendar_img {
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-left: 10px;
}

.calendar_img img {
    width: 100%;
}

.score_input {
    display: inline-block;
}

.score_input:nth-child(3) {
    margin-left: 10px;
}

.score_input input {
    width: 100px;
}

.r_right_box {
    display: inline-block;
    width: calc(50% - 2px);
    float: right;
}

.division select {
    position: relative;
    right: 4px;
    width: 120px;
    height: 27px;
    padding: 3px;
    vertical-align: middle;
}

.right_box_2 {
    padding: 20px 0 40px 0;
}

.student_each_score_table {
    width: calc(100% - 2px);
    height: 430px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgb(235, 235, 235);
    border: solid 1px rgb(220, 220, 220);
}

.student_each_score_table table tbody tr td:nth-child(2) input,
.student_each_score_table table tbody tr td:nth-child(3) input {
    width: 100px;
    padding: 0 5px;
}

.add_btn_wrap {
    width: 100%;
    height: 35px;
    margin-top: 10px;
}

.l_btn_wrap {
    display: inline-block;
    width: auto;
}

.l_btn_wrap>div {
    display: inline-block;
    width: 100px;
    height: 35px;
    line-height: 35px;
    border-radius: 20px;
    border: solid 1px rgb(32, 175, 68);
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
}

.l_btn_wrap>div a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 600;
    color: rgb(32, 175, 68);
    text-align: center;
}

.r_btn_wrap {
    float: right;
}

.r_btn_wrap>div {
    display: inline-block;
    width: 100px;
    height: 35px;
    line-height: 35px;
    border-radius: 20px;
    background-color: rgb(32, 175, 68);
}

.r_btn_wrap>div a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-align: center;
}

/*----------------*/

.ui-datepicker-trigger {
    top: -1px;
}
