.homework_menu {
    display: inline-block;
    width: 130px;
    height: 53px;
    line-height: 37px;
    background-color: rgb(255, 255, 255);
    border: solid 2px rgb(220, 220, 220);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
    transition: all .3s;
}

.homework_menu:nth-child(1) {
    position: relative;
    left: 6px;
}

.homework_menu a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 600;
    color: rgb(150, 150, 150);
    text-align: center;
    transition: all .2s;
}

.homework_menu.on {
    height: 55px;
    line-height: 37px;
    border-bottom: none;
}

.homework_menu a.on {
    font-weight: 800;
    background-color: rgb(245, 248, 250);
    color: rgb(32, 175, 68);
}

.homework_menu:hover {
    transform: translateY(-4px);
}

.homework_menu:hover a {
    color: rgb(32, 175, 68);
}

.wrapper {
    position: relative;
    top: 20px;
    width: 100%;
    max-width: 1400px;
    margin: auto;
}

.left_box {
    display: inline-block;
    width: 300px;
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(220, 220, 220);
    vertical-align: top;
    padding: 0 20px;
    padding-bottom: 20px;
    margin-right: 10px;
}

.box_title {
    font-size: 16px;
    font-weight: 600;
    border-left: solid 2px rgb(32, 175, 68);
    padding-left: 10px;
    margin-top: 20px;
}

.box_menu_wrap {
    margin-top: 20px;
}

.box_menu_wrap p {
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    margin-right: 20px;
}

.box_menu_wrap select {
    display: inline-block;
    width: 100px;
    height: 30px;
    border: solid 1px rgb(150, 150, 150);
    padding: 5px;
}

.grade_select_box {
    width: calc(100% - 2px);
    height: 170px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgb(235, 235, 235);
    border: solid 1px rgb(220, 220, 220);
    margin-top: 10px;
}

.class_select_box {
    width: calc(100% - 2px);
    height: 170px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgb(235, 235, 235);
    border: solid 1px rgb(220, 220, 220);
    margin-top: 10px;
}

.student_list_box {
    width: calc(100% - 2px);
    height: 170px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgb(235, 235, 235);
    border: solid 1px rgb(220, 220, 220);
    margin-top: 10px;
}

table {
    width: 100%;
}

table thead tr th {
    font-size: 14px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    background-color: rgb(41, 124, 62);
    padding: 5px;
}

table tbody tr td {
    font-size: 14px;
    color: rgb(50, 50, 50);
    text-align: center;
    padding: 5px;
}

table tbody tr:nth-child(2n) {
    background-color: rgb(252, 252, 252);
}

.select_table table tbody tr td {
    cursor: pointer;
}

/**/

.grade_select_box table tbody tr.on {
    background-color: rgb(255, 213, 74) !important;
}

.class_select_box table tbody tr.on {
    background-color: rgb(255, 213, 74) !important;
}

.student_list_box table tbody tr.on {
    background-color: rgb(255, 213, 74) !important;
}

/**/

.select_table table tbody tr:hover td {
    background-color: rgb(255, 213, 74);
}

.class_select_box table tbody tr td span:nth-child(2) {
    margin-left: 10px;
}

.right_wrap {
    display: inline-block;
    width: calc(100% - 352px);
    float: right;
}

.right_box {
    width: 100%;
    height: 600px;
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(220, 220, 220);
    box-sizing: border-box;
    padding: 0 20px;
}

.right_box_1 {
    border-bottom: solid 1px rgb(220, 220, 220);
    padding: 20px 0;
    overflow: hidden;
}

.r_left_box {
    display: inline-block;
    width: calc(50% - 2px);
    vertical-align: top;
}

.division {
    width: 100%;
    height: 30px;
    margin-top: 10px;
}

.division:first-child {
    margin-top: 0;
}

.col2 {
    height: 45px;
}

.l_div_title {
    display: inline-block;
    width: 100px;
    font-size: 18px;
    font-weight: 600;
    border-left: solid 4px rgb(32, 175, 68);
    vertical-align: top;
    padding-left: 15px;
}

.col2 .l_div_title {
    height: 100%;
}

.r_div_content {
    display: inline-block;
    font-size: 16px;
}

.score_average {
    display: inline-block;
}

.down_average {
    margin-top: 8px;
}

.lt {
    display: inline-block;
    width: 180px;
}

.rt {
    display: inline-block;
}

.r_right_box {
    display: inline-block;
    width: calc(50% - 2px);
    float: right;
}

.right_box_2 {
    padding: 20px 0 40px 0;
}

.student_each_score_table {
    width: calc(100% - 2px);
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    overflow: scroll;
    background-color: rgb(235, 235, 235);
    border: solid 1px rgb(220, 220, 220);
}

.add_btn_wrap {
    width: 100%;
    height: 35px;
    margin-top: 10px;
}

.l_btn_wrap {
    display: inline-block;
    width: auto;
}

.w_b {
    display: inline-block;
    width: 100px;
    height: 35px;
    line-height: 35px;
    border-radius: 20px;
    background-color: rgb(252, 154, 63)
}

.w_b a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-align: center;
}

.r_btn_wrap {
    float: right;
}

.f_b {
    display: inline-block;
    width: 100px;
    height: 35px;
    line-height: 35px;
    border-radius: 20px;
    background-color: rgb(32, 175, 68);
}

.f_b a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-align: center;
}

.student_delete_btn {
    width: 130px;
}