.head_left p {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
}

.resend_btn {
    display: inline-block;
    width: 120px;
    height: 28px;
    line-height: 28px;
    border-radius: 20px;
    border: solid 1px rgb(32, 175, 68);
    transition: all .1s;
}

.resend_btn a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: 600;
    color: rgb(32, 175, 68);
    text-align: center;
    transition: all .1s;
}

.complete_btn {
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    background-color: rgb(32, 175, 68);
    border-radius: 20px;
}

.complete_btn a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-align: center;
}

.cancel_btn {
    display: inline-block;
    width: 100px;
    height: 28px;
    line-height: 28px;
    border: solid 1px rgb(32, 175, 68);
    border-radius: 20px;
    transition: all .1s;
}

.cancel_btn a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: 600;
    color: rgb(32, 175, 68);
    text-align: center;
    transition: all .1s;
}

.resend_btn:hover,
.cancel_btn:hover {
    background-color: rgb(32, 175, 68);
}

.resend_btn:hover a,
.cancel_btn:hover a {
    color: rgb(255, 255, 255);
}

/**/

.scoring_box {
    width: 100%;
    max-width: 1400px;
    max-height: 800px;
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(220, 220, 220);
    margin: auto;
    overflow: hidden;
}

.l_section {
    display: inline-block;
    width: calc(43% - 43px);
    height: 100%;
    vertical-align: top;
    padding: 0 20px;
}

.r_section {
    display: inline-block;
    width: calc(60% - 42px);
    height: 100%;
    border-right: solid 1px rgb(220, 220, 220);
    float: right;
    border-left: solid 1px rgb(220, 220, 220);
}

.title_section {
    border-left: solid 4px rgb(32, 175, 68);
    margin-top: 20px;
    padding-left: 20px;
}

.title_section p {
    font-size: 18px;
    font-weight: 600;
}

.l_section>p:nth-child(2) {
    font-size: 18px;
    font-weight: 600;
    border-left: solid 4px rgb(32, 175, 68);
    margin-top: 20px;
    padding-left: 20px;
}

.score_board_table {
    width: 100%;
    border: solid 1px rgb(220, 220, 220);
    background-color: rgb(235, 235, 235);
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 10px;
}

.score_board_table table {
    width: 100%;
}

.score_board_table table thead tr th {
    font-size: 14px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    background-color: rgb(41, 124, 62);
    padding: 5px;
}

.score_board_table table tbody tr td {
    font-size: 14px;
    color: rgb(50, 50, 50);
    text-align: center;
    border-right: solid 1px rgb(220, 220, 220);
    padding: 5px;
}

.score_board_table table tbody tr td:nth-child(2) {
    text-align: left;
}

.score_board_table table tbody tr:nth-child(2n) td {
    background-color: rgb(252, 252, 252);
}

.paper_img_input {
    width: 86%;
    height: 100%;
    background-color: rgb(220, 220, 220);
    background-position: center;
    background-size: cover;
    margin: auto;
}

.paper_img_section {
    display: inline-block;
    width: 660px;
    height: 650px;
    border: solid 1px rgb(220, 220, 220);
    background-color: rgb(240, 240, 240);
    background-size: cover;
    background-position: center;
    text-align: center;
    margin: 0 20px
}