.head_left p {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
}

.sub_close_btn {
    position: relative;
    top: 2px;
    display: inline-block;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.sub_close_btn img {
    top: 0;
    width: 100%;
}

/**/

.scoring_chat_box {
    position: relative;
    top: 20px;
    width: 100%;
    max-width: 800px;
    height: 700px;
    max-height: 700px;
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(220, 220, 220);
    margin: auto;
}

.chat_head_section {
    width: 100%;
    height: 60px;
    background-color: rgb(32, 175, 68);
}

.chat_head_section p {
    font-size: 18px;
    font-weight: 600;
    margin-left: 20px;
}

.chat_head_section p:nth-child(1) {
    padding-top: 10px;
}

.chat_head_section p span {
    color: rgb(255, 255, 255);
}

.chat_section {
    width: calc(100% - 40px);
    height: calc(100% - 100px);
    background-color: rgb(178, 199, 217);
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;
}

.chat_wrap {
    width: 100%;
    height: 100%;
}

.chat_wrap ul li {
    margin: 15px 0;
}

.left_speech_wrap {
    position: relative;
}

.left_speech_wrap>div {
    display: inline-block;
}

.l_tri {
    position: absolute;
    left: 2px;
    bottom: 8px;
    width: 15px;
    height: 15px;
}

.l_tri img {
    width: 100%;
}

.l_speech_bubble {
    width: auto;
    max-width: 380px;
    height: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, .1);
    padding: 10px;
    margin-left: 14px;
}

.l_speech_bubble p {
    font-size: 14px;
    line-height: 18px;
}

.time {
    display: inline-block;
}

.time span {
    position: relative;
    top: 3px;
    font-size: 12px;
}

.right_speech_wrap {
    position: relative;
    text-align: right;
}

.r_speech_bubble {
    display: inline-block;
    width: auto;
    max-width: 380px;
    height: auto;
    background-color: rgb(255, 235, 51);
    border-radius: 10px;
    box-shadow: -2px 2px 3px rgba(0, 0, 0, .1);
    padding: 10px;
    margin-right: 15px;
}

.r_speech_bubble p {
    font-size: 14px;
    line-height: 18px;
    text-align: left;
}

.r_tri {
    position: absolute;
    right: 2px;
    bottom: 8px;
    width: 15px;
    height: 15px;
}

.r_tri img {
    width: 100%;
}