.head_left p {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
}

/**/

.scoring_table_section {
    position: relative;
    top: 20px;
    width: 100%;
    max-width: 1400px;
    height: 700px;
    max-height: 700px;
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(220, 220, 220);
    overflow-x: hidden;
    overflow-y: auto;
    margin: auto;
}

.scoring_table_section table {
    width: 100%;
}

.scoring_table_section table thead tr th {
    height: 20px;
    font-size: 18px;
    background-color: rgb(32, 175, 68);
    color: rgb(255, 255, 255);
    border-bottom: solid 1px rgb(220, 220, 220);
    padding: 10px;
}

.scoring_table_section table thead tr th:nth-child(5) {
    width: 150px;
}

.scoring_table_section table tbody tr td {
    background-color: rgb(233, 240, 243);
    border-right: solid 1px rgb(230, 230, 230);
    text-align: center;
    padding: 10px 0;
}

.scoring_table_section table tbody tr:nth-child(2n) td {
    background-color: rgb(248, 251, 252);
}

.scoring_btn {
    width: 100px;
    height: 25px;
    line-height: 25px;
    border-radius: 20px;
    border: solid 1px rgb(150, 150, 150);
    background-color: rgb(255, 255, 255);
    margin: auto;
    transition: all .1s;
}

.scoring_btn a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 14px;
    transition: all .1s;
}

.scoring_btn:hover {
    background-color: rgb(32, 175, 68);
    border: solid 1px rgb(32, 175, 68);
}

.scoring_btn:hover a {
    color: rgb(255, 255, 255);
}