.setting_menu {
    display: inline-block;
    width: 150px;
    height: 53px;
    line-height: 43px;
    background-color: rgb(255, 255, 255);
    border: solid 2px rgb(220, 220, 220);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
    transition: all .3s;
}

.setting_menu:nth-child(1) {
    position: relative;
    left: 6px;
}

.setting_menu:nth-child(2) {
}

.setting_menu a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: 600;
    color: rgb(150, 150, 150);
    text-align: center;
    transition: all .2s;
}

.setting_menu.on {
    height: 55px;
    line-height: 45px;
    border-bottom: none;
}

.setting_menu a.on {
    font-weight: 800;
    background-color: rgb(245, 248, 250);
    color: rgb(32, 175, 68);
}

.setting_menu:hover {
    transform: translateY(-10px);
}

.setting_menu:hover a {
    color: rgb(32, 175, 68);
}

.setting_box {
    position: relative;
    top: 20px;
    width: 100%;
    max-width: 700px;
    height: 700px;
    max-height: 700px;
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(220, 220, 220);
    margin: auto;
}

.l_section {
    display: inline-block;
    width: calc(40% - 43px);
    height: 100%;
    border-right: solid 1px rgb(220, 220, 220);
    vertical-align: top;
    padding: 0 20px;
}

.line_title {
    font-size: 18px;
    font-weight: 600;
    border-left: solid 4px rgb(32, 175, 68);
    padding-left: 20px;
    margin-top: 160px;
    margin-left: 45px;
}

.picture_input_section {
    width: 150px;
    height: 200px;
    background-color: rgb(150, 150, 150);
    margin: auto;
    margin-top: 10px;
}

.r_section {
    display: inline-block;
    width: calc(60% - 42px);
    height: 100%;
    padding: 0 20px;
    float: right;

}

.content_line {
    height: 40px;
}

.content_line:nth-child(1) {
    margin-top: 120px;
}

.r_section .line_title {
    display: inline-block;
    width: 100px;
    vertical-align: top;
    margin-left: 0;
    margin-top: 0;
}

.content_line:nth-child(7) .content_side {
    margin-top: 15px;
    width: 100%;
}

.content_side {
    display: inline-block;
}

.content_side input {
    width: 215px;
    height: 15px;
    padding: 3px 5px;
}

.content_side textarea {
    width: 356px;
}