.head_left p {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
}

/**/

.student_table_section {
    position: relative;
    top: 20px;
    width: 100%;
    max-width: 1400px;
    height: 700px;
    max-height: 700px;
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(220, 220, 220);
    overflow-x: hidden;
    overflow-y: auto;
    margin: auto;
}

.student_table_section table {
    width: 100%;
}

.student_table_section table thead tr th {
    height: 30px;
    font-size: 18px;
    background-color: rgb(32, 175, 68);
    color: rgb(255, 255, 255);
    border-bottom: solid 1px rgb(220, 220, 220);
    padding: 10px;
}

.student_table_section table thead tr th:nth-child(1) {
    width: 60px;
}

.student_table_section table tbody tr td {
    background-color: rgb(233, 240, 243);
    border-right: solid 1px rgb(230, 230, 230);
    text-align: center;
    padding: 10px 0;
}

.student_table_section table tbody tr:nth-child(2n) td {
    background-color: rgb(248, 251, 252);
}

.student_table_section table tbody tr td:nth-child(4) span:nth-child(3),
.student_table_section table tbody tr td:nth-child(5) span:nth-child(3) {
    font-weight: 600;
}

.paper,
.print,
.mail {
    display: inline-block;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.paper img,
.print img,
.mail img {
    width: 100%;
}

.print,
.mail {
    margin-left: 10px;
}