@font-face {
    font-family: 'NanumSquare';
    src: url('./fonts/NanumSquareL.eot');
    /* IE9 Compat Modes */
    src: url('./fonts/NanumSquareL.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
    url('./fonts/NanumSquareL.woff') format('woff'),
        /* Modern Browsers */
    url('./fonts/NanumSquareL.ttf') format('truetype');
    /* Legacy iOS */

    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'NanumSquare';
    src: url('./fonts/NanumSquareR.eot');
    /* IE9 Compat Modes */
    src: url('./fonts/NanumSquareR.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
    url('./fonts/NanumSquareR.woff') format('woff'),
        /* Modern Browsers */
    url('./fonts/NanumSquareR.ttf') format('truetype');
    /* Legacy iOS */

    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'NanumSquare';
    src: url('./fonts/NanumSquareB.eot');
    /* IE9 Compat Modes */
    src: url('./fonts/NanumSquareB.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
    url('./fonts/NanumSquareB.woff') format('woff'),
        /* Modern Browsers */
    url('./fonts/NanumSquareB.ttf') format('truetype');
    /* Legacy iOS */

    font-style: normal;
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    font-family: NanumSquare;
}

ul,
li,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(50, 50, 50);
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    position: relative;
}

table {
    border-collapse: collapse;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
span {
    color: rgb(50, 50, 50);
}

img {
    width: 100%;
}

input:focus {
    outline: none;
}

/* bg & header & section & hambuger */

.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(34, 119, 64);
    background-image: linear-gradient(to bottom, rgb(40, 140, 190), rgb(255, 255, 255));
    z-index: -1;
}

.bg_div {
    width: 100%;
    height: calc(34% - 4px);
}


/*header*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: rgba(255, 255, 255, .9);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
    z-index: 10;
}

.ham_wrap {
    position: relative;
    top: 10px;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    cursor: pointer;
}

.ham_wrap span {
    display: block;
    width: 90%;
    height: 3px;
    background-color: rgb(17, 90, 55);
    margin-bottom: 5.5px;
}

.ham_wrap span:nth-child(2) {
    width: 60%;
}

.head_logo {
    position: absolute;
    top: 9px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    height: 22px;
    vertical-align: bottom;
}

.head_logo img {
    height: 100%;
    width: initial;
}

.calender_icon {
    position: relative;
    top: 10px;
    display: inline-block;
    width: 20px;
    height: 20px;
    float: right;
    margin-right: 10px;
    cursor: pointer;
}

/*section*/
section {
    width: 100%;
    height: auto;
    margin-top: 40px;
}

/*bottom_nav*/
.main_nav {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 20px);
    height: 40px;
    background-color: rgba(255, 255, 255, .9);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
    padding: 10px;
    z-index: 9;
}

.nav_menu {
    width: 18%;
    height: 100%;
    filter: grayscale(1);
    opacity: .6;
}

.nav_menu.on {
    filter: grayscale(0);
    opacity: 1;
}

.nav_menu_icon {
    width: auto;
    height: 25px;
    text-align: center;
    margin-bottom: 5px;
}

.nav_menu_icon img {
    width: inherit;
    height: 100%;
}

.nav_menu_title {
    font-size: 12px;
    font-weight: 600;
    color: rgb(17, 90, 55);
    text-align: center;
}

/*hamburger_nav*/
.hamburger_wrap {
    position: fixed;
    top: 40px;
    left: 0;
    width: 100%;
    height: calc(100% - 40px);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.2);
    margin-left: -1500px;
    z-index: 20;
    transition: all .5s ease-in-out;
}

.hamburger_wrap.on {
    margin-left: 0;
}

.user_wrap {
    width: calc(100% - 20px);
    height: 100px;
    margin: auto;
}

.user_side {
    position: relative;
    top: 20px;
    display: inline-block;
    width: 50%;
    float: left;
}

.user_img {
    display: inline-block;
    width: 60px;
    margin-right: 10px;
}

.user_info {
    position: relative;
    bottom: 12px;
    display: inline-block;
}

.user_name {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 3px;
}

.academy_name {
    font-size: 14px;
    font-weight: 600;
    color: rgb(17, 141, 81);
}

.close_btn_wrap {
    position: relative;
    top: 20px;
    right: 10px;
    display: inline-block;
    width: 30px;
    float: right;
}

.add_btn_wrap {
    position: relative;
    top: 20px;
    right: 10px;
    display: inline-block;
    width: 30px;
    float: left;
    margin-right: 10px;
}

.close_btn {
    width: 30px;
}

.ham_nav_wrap {
    width: 100%;
    height: auto;
}

.ham_nav_menu {
    width: calc(100% - 20px);
    height: 60px;
    padding: 0 10px;
}

.ham_nav_menu_icon_wrap {
    position: relative;
    top: 20px;
    display: inline-block;
    height: 30px;
    width: 50px;
    margin-right: 10px;
}

.ham_nav_menu_icon {
    height: 100%;
    text-align: center;
}

.ham_nav_menu_icon img {
    position: relative;
    top: 4px;
    width: unset;
    height: 22px;
}

.ham_nav_menu_title_wrap {
    position: relative;
    top: 20px;
    display: inline-block;
    height: 30px;
    width: auto;
    line-height: 30px;
}

.ham_nav_menu_title {
    font-size: 18px;
    font-weight: 800;
}

.push_circle {
    position: relative;
    top: 16px;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 20px;
    background-color: rgb(246, 43, 43);
    text-align: center;
    margin-left: calc(100% - 140px);
}

.push_circle p {
    font-size: 12px;
    font-weight: 800;
    color: rgb(255, 255, 255);
}

/*schedule*/
.schedule_wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 80px);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
    margin-top: -800px;
    z-index: 30;
    transition: all .5s ease-in-out;
}

.schedule_wrap.on {
    margin-top: 0;
}

.schedule_head {
    width: calc(100% - 20px);
    height: auto;
    margin: auto;
    margin-top: 20px;
}

.schedule_title_wrap {
    display: inline-block;
    width: 80%;
}

.schedule_title {
    font-size: 18px;
    font-weight: 800;
    color: rgb(17, 90, 55);
    margin-bottom: 3px;
}

.month {
    font-size: 14px;
    font-weight: 600;
}

.schedule_head .close_btn_wrap {
    top: 0;
}

.sc_close_btn {
    width: 30px;
}

.schedule_section {
    width: calc(100% - 20px);
    height: calc(100% - 100px);
    margin: auto;
    margin-top: 20px;
}

.weekly_schedule_wrap {
    width: 100%;
    height: calc(100% - 100px);
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

.weekly_scedule_box.on {
    background-color: rgb(183, 245, 230);
}

.weekly_scedule_box {
    width: calc(100% - 20px);
    height: auto;
    border-radius: 10px;
    background-color: rgb(245, 245, 245);
    margin-bottom: 10px;
    padding: 10px;
}

.weekly_scedule_box:last-child {
    margin-bottom: 0;
}

.date_wrap {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: top;
    margin-right: 10px;
}

.day {
    font-size: 24px;
    font-weight: 800;
}

.dow {
    position: relative;
    left: 1px;
    font-size: 14px;
    font-weight: 800;
}

.class_time_info_wrap {
    position: relative;
    top: 3px;
    display: inline-block;
    width: calc(100% - 55px);
}

.class_time_info {
    margin-bottom: 20px;
}

.class_time_info:last-child {
    margin-bottom: 0;
}

.time {
    font-size: 14px;
    margin-bottom: 5px;
}

.class_name {
    font-size: 14px;
}

.mybus_wrap {
    margin-top: 20px;
}

.bus_head {
    width: 100%;
    height: auto;
}

.bus_title {
    display: inline-block;
    font-size: 18px;
    font-weight: 800;
    color: rgb(17, 90, 55);
}

.onboard_cancel_btn {
    width: 70px;
    height: 20px;
    line-height: 20px;
    border-radius: 15px;
    background-color: rgb(17, 141, 81);
    float: right;
}

.onboard_cancel_btn p {
    font-size: 12px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.bus_content {
    margin-top: 20px;
}

.bus_icon {
    display: inline-block;
    width: 30px;
    margin: 0 10px;
}

.bus_info {
    display: inline-block;
}

.bus_place {
    font-size: 14px;
}

.bus_time {
    font-size: 14px;
}

/*bus_box*/
.bus_box {
    position: fixed;
    top: 20vh;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    height: auto;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    border: solid 5px rgb(17, 90, 55);
    display: none;
    z-index: 100;
}

.bus_box.on {
    display: block;
}

.bus_box_title {
    font-size: 20px;
    font-weight: 800;
    color: rgb(17, 90, 55);
    text-align: center;
    margin-top: 20px;
}

.bus_box_content {
    margin-top: 20px;
    text-align: center;
}

.bus_box_content p {
    line-height: 24px;
    font-size: 18px;
    font-weight: 600;
}

.bus_box_content p:nth-child(1) {
    margin-bottom: 10px;
}

.bus_box_content p:nth-child(2) span,
.bus_box_content p:nth-child(3) span {
    display: block;
}

.bus_box_btn_wrap {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 40px);
    margin: auto;
    margin-top: 40px;
    margin-bottom: 20px;
}

.bus_box_btn_wrap>div {
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    background-color: rgb(17, 141, 81);
}

.bus_box_btn_wrap>div p {
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-align: center;
}

/* alarm */
.alarm_wrap {
    position: absolute;
    width: 60%;
    height: 400px;
    top: 65px;
    left: 33%;
    background-color: rgb(255, 228, 73);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding: 10px;
    z-index: 999;
    overflow-y: auto;
}

.alarm_back {
    width: 100%;
    height: 100%;
}

.alarm_list li {
    border-bottom : solid 1px rgb(201, 165, 46);
    margin: 5px 0;
    padding: 5px 0;
    list-style: none;
    font-size: 12px;
}

.x_btn {
    margin-left: 90%;
    font-weight: bold;
}

.alarm_btn {
    width: 30px;
}

.alarm_tri {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50px;
    left: 62%;
    /*background-color: rgb(255, 228, 73);*/
}

.new_alarm {
    
}