.head_p {
    width: calc(100% - 20px);
    height: 60px;
    background-color: rgb(255, 255, 255);
    border-top-right-radius: 15px;
    border-top-left-radius:  15px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
    margin: auto;
    margin-top: 60px;
}

.head_title {
    position: relative;
    display: inline-block;
    font-size: 18px;
    font-weight: 800;
    color: rgb(17, 90, 55);
    margin-left: 10px;
    padding-top: 15px;
}

.back_btn {
    width: 30px;
    height: 30px;
    float: right;
    margin-right: 10px;
    padding-top: 10px;
}

.content_p {
    position: relative;
    bottom: 10px;
    width: calc(100% - 20px);
    height: auto;
    background-color: rgb(242, 248, 249);
    border-top-right-radius: 15px;
    border-top-left-radius:  15px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
    margin: auto;
    padding-bottom: 10px;
}

.homework_name_wrap {
    display: inline-block;
    min-width: 45%;
    margin-left: 10px;
    padding: 10px 0;
}

.sub_title {
    font-size: 18px;
    font-weight: 800;
    color: rgb(17, 90, 55);
}

.sub_section_info {
    font-size: 14px;
    margin-top: 5px;
}

.homework_limit_wrap {
    display: inline-block;
    margin-right: 10px;
    padding: 10px 0;
}

.content_detail_p {
    position: relative;
    bottom: 20px;
    width: calc(100% - 20px);
    height: auto;
    background-color: rgb(209, 229, 236);
    border-top-right-radius: 15px;
    border-top-left-radius:  15px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
    margin: auto;
}

.chat_wrap {
    width: calc(100% - 20px);
    padding: 10px;
}

.detail_head {
    text-align: center;
    padding: 20px 0;
}

.detail_head p {
    font-size: 14px;
    line-height: 20px;
}

.detail_head p span {
    display: block;
}

.chat_wrap ul li {
    margin: 15px 0;
}

.left_speech_wrap {
    position: relative;
}

.left_speech_wrap>div {
    display: inline-block;
}

.l_tri {
    position: absolute;
    left: 2px;
    bottom: 8px;
    width: 15px;
    height: 15px;
}

.l_tri img {
    width: 100%;
}

.l_speech_bubble {
    width: auto;
    max-width: 50vw;
    height: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, .1);
    padding: 10px;
    margin-left: 14px;
}

.l_speech_bubble p {
    font-size: 14px;
    line-height: 18px;
}

.time {
    display: inline-block;
}

.time span {
    position: relative;
    top: 3px;
    font-size: 10px;
}

.right_speech_wrap {
    position: relative;
    text-align: right;
}

.r_speech_bubble {
    display: inline-block;
    width: auto;
    max-width: 50vw;
    height: auto;
    background-color: rgb(255, 235, 51);
    border-radius: 10px;
    box-shadow: -2px 2px 3px rgba(0, 0, 0, .1);
    padding: 10px;
    margin-right: 15px;
}

.r_speech_bubble p {
    font-size: 14px;
    line-height: 18px;
    text-align: left;
}

.r_tri {
    position: absolute;
    right: 2px;
    bottom: 8px;
    width: 15px;
    height: 15px;
}

.r_tri img {
    width: 100%;
}

.decoration {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 20px);
    height: 30px;
    padding: 20px 10px 10px 10px;
}

.deco_circle {
    width: 5vw;
    height: 5vw;
    border-radius: 20px;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, .2);
    background-color: rgb(251, 253, 255);
}