.section {
    width: 100%;
    height: auto;
    padding: 0 30px;
}

.head_section {
    width: 100%;
    height: 170px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgb(200, 200, 200);
    padding: 0 20px;
    margin-top: 20px;
}

.upside {
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
}

.upside p {
    position: relative;
    top: 18px;
    display: inline-block;
    font-size: 24px;
    font-weight: 600;
}

.btn_wrap {
    position: relative;
    top: 10px;
    display: inline-block;
    width: auto;
    height: 40px;
    float: right;
}

.btn_wrap>div {
    display: inline-block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
}

.complete_btn {
    background-color: rgb(2, 99, 34);
    margin-right: 10px;
}

.complete_btn a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-align: center;
}

.cancel_btn {
    border: solid 1px rgb(150, 150, 150);
    width: 98px;
    height: 38px;
}

.cancel_btn a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.downside {
    width: 100%;
    height: 90px;
}

.downside table {
    width: 100%;
}

.downside table thead tr th {
    background-color: rgb(2, 99, 34);
    color: rgb(255, 255, 255);
    font-weight: 400;
    padding: 10px;
}

.downside table tbody tr td {
    text-align: center;
    vertical-align: top;
    border-right: solid 1px rgb(150, 150, 150);
    padding: 5px 10px;
}

.downside table tbody tr {
    border-bottom: solid 1px rgb(150, 150, 150);
}

.downside table tbody tr:nth-child(2n) {
    background-color: rgb(230, 230, 230);
}

.downside table tbody tr td:last-child {
    border: none;
}

.downside select {
    width: 200px;
    height: 40px;
    padding: 10px;
}

/*

.search_box_wrap {
    display: inline-block;
    width: 300px;
    float: right;
    text-align: right;
}

.search_box_wrap>div {
    display: inline-block;
}

.search_input_box {
    position: relative;
    top: 13px;
    width: 170px;
    height: 30px;
    border: solid 1px rgb(150, 150, 150);
    border-right: none;
}

.search_input_box>input {
    width: 150px;
    height: 30px;
    border: none;
    padding: 0 10px;
}

.search_btn {
    position: relative;
    top: 14px;
    right: 4px;
    width: 60px;
    height: 32px;
    line-height: 32px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgb(2, 99, 34);
}

.search_btn a {
    display: block;
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
    text-align: center;
}

*/

.view_section {
    position: relative;
    width: 100%;
    height: 550px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgb(200, 200, 200);
    overflow-y: auto;
    margin-top: 10px;
}

.upside_2 {
    width: calc(100% - 40px);
    height: 60px;
    padding: 0 20px;
}

.upside_2>p {
    position: relative;
    top: 18px;
    display: inline-block;
    font-size: 24px;
    font-weight: 600;
}

.r_nav {
    position: relative;
    top: 10px;
    width: auto;
    height: 40px;
    float: right;
}

.r_nav_menu {
    display: inline-block;
    width: 150px;
    height: 40px;
    line-height: 40px;  
    border-right: solid 1px rgb(150, 150, 150);
    cursor: pointer;
}

.r_nav_menu:last-child {
    border: none;
}

.r_nav_menu p {
    font-size: 18px;
    font-weight: 600;
    color: rgb(150, 150, 150);
    text-align: center;
}

.r_nav_menu p.on {
    color: rgb(2, 99, 34);
    font-weight: 800;
}

.view_section table {
    width: 100%;
}

.view_section table input {
    width: 18px;
    height: 18px;
}

.view_section table thead tr th {
    background-color: rgb(2, 99, 34);
    color: rgb(255, 255, 255);
    font-weight: 400;
    padding: 10px;
}

.view_section table tbody tr td {
    text-align: center;
    vertical-align: top;
    border-right: solid 1px rgb(150, 150, 150);
    padding: 5px 10px;
}

.view_section table tbody tr {
    border-bottom: solid 1px rgb(150, 150, 150);
}

.view_section table tbody tr:nth-child(2n) {
    background-color: rgb(230, 230, 230);
}

.view_section table tbody tr td:last-child {
    border: none;
}

.plus_icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: auto;
}

.plus_icon img {
    width: 100%;
}

.minus_icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: auto;
}

.minus_icon img {
    width: 100%;
}

.view_section table tbody tr td input {
    display: inline-block;
    width: 200px;
    height: 20px;
    padding: 5px;
}

.search_btn {
    display: inline-block;
    width: 60px;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(150, 150, 150);
    vertical-align: middle;
    margin-left: 10px;
}

.search_btn a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 14px;
    text-align: center;
}