.section {
    width: calc(100% - 60px);
    height: auto;
    padding: 0 30px;
}

.head_section {
    width: calc(100% - 40px);
    height: 60px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgb(200, 200, 200);
    padding: 0 20px;
    margin-top: 20px;
}

.l_title {
    position: relative;
    top: 18px;
    display: inline-block;
}

.l_title p {
    font-size: 24px;
    font-weight: 600;
}

/**/

.search_box_wrap {
    display: inline-block;
    width: 300px;
    float: right;
    text-align: right;
}

.search_box_wrap>div {
    display: inline-block;
}

.search_input_box {
    position: relative;
    top: 13px;
    width: 170px;
    height: 35px;
    border: solid 1px rgb(150, 150, 150);
    border-right: none;
}

.search_input_box>input {
    width: 150px;
    height: 30px;
    border: none;
    padding: 0 10px;
    outline: none;
}

.search_btn {
    position: relative;
    top: 14px;
    right: 4px;
    width: 60px;
    height: 32px;
    line-height: 32px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgb(2, 99, 34);
}

.search_btn a {
    display: block;
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
    text-align: center;
}

/**/

.view_section {
    position: relative;
    width: 100%;
    height: 690px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgb(200, 200, 200);
    overflow-y: auto;
    margin-top: 10px;
}

.view_section table {
    width: 100%;
}

.view_section table input {
    width: 18px;
    height: 18px;
}

.view_section table thead tr th {
    background-color: rgb(2, 99, 34);
    color: rgb(255, 255, 255);
    font-weight: 400;
    padding: 10px;
}

.view_section table tbody tr td {
    text-align: center;
    vertical-align: top;
    border-right: solid 1px rgb(150, 150, 150);
    padding: 5px 10px;
}

.view_section table tbody tr {
    border-bottom: solid 1px rgb(150, 150, 150);
}

.view_section table tbody tr:nth-child(2n) {
    background-color: rgb(230, 230, 230);
}

.view_section table tbody tr td:last-child {
    border: none;
}

.section_footer {
    width: 100%;
    height: 40px;
    margin-top: 10px;
}

.button_wrap {
    height: 40px;
    float: right;
}

.button_wrap>div {
    display: inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
}

.add_btn {
    background-color: rgb(2, 99, 34);
    /*margin-right: 10px;*/
}

.img-save
{
    width: 12px;
    margin-left: 5px;
}

.add_btn a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-align: center;
}

.delete_btn {
    background-color: rgb(255, 255, 255);
}

.delete_btn {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}


/**/

.list_btn_wrap {
    position: absolute;
    /*bottom: 45px;*/
    left: 50%;
    transform: translateX(-50%);
}

.list_btn_wrap>div {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.list_btn_wrap>div>a {
    display: block;
    width: 100%;
    height: 100%;
}

.list_btn_wrap>div>a>img {
    width: 100%;
}

.list_btn_wrap>ul {
    position: relative;
    bottom: 0px;
    display: inline-block;
}

.list_btn_wrap>ul>li {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    margin: 0 10px;
}

.list_btn_wrap>ul>li>a {
    display: block;
    width: 100%;
    height: 100%;
    color: rgb(150, 150, 150);
}

.list_btn_wrap>ul>li>a.on {
    color: rgb(50, 50, 50);
    font-weight: 600;
}

a {
    text-decoration: none !important;
}

/*a.btn:hover{*/
    /*color:white !important;*/
/*}*/