.head_p {
    width: calc(100% - 20px);
    height: 60px;
    background-color: rgb(255, 255, 255);
    border-top-right-radius: 15px;
    border-top-left-radius:  15px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
    margin: auto;
    margin-top: 60px;
}

.head_title {
    position: relative;
    display: inline-block;
    font-size: 18px;
    font-weight: 800;
    color: rgb(17, 90, 55);
    margin-left: 10px;
    padding-top: 15px;
}

.back_btn {
    width: 30px;
    height: 30px;
    float: right;
    margin-right: 10px;
    padding-top: 10px;
}

.content_p {
    position: relative;
    bottom: 10px;
    width: calc(100% - 20px);
    height: auto;
    background-color: rgb(242, 248, 249);
    border-top-right-radius: 15px;
    border-top-left-radius:  15px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
    margin: auto;
}

.content_menu_wrap {
    width: 100%;
    height: 40px;
}

.content_menu {
    display: inline-block;
    width: calc(50% - 3px);
    height: 100%;
    line-height: 40px;
}

.content_menu.on {
    background-color: rgb(224, 238, 242);
    border-top-right-radius: 15px;
    border-top-left-radius:  15px;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, .1);
}

.content_menu a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: 800;
    color: rgb(150, 150, 150);
    text-align: center;
}

.content_menu a.on {
    color: rgb(17, 90, 55);
}

.content_list_wrap {
    width: 100%;
    height: auto;
    background-color: rgb(224, 238, 242);
    border-top-right-radius: 15px;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, .1);
    padding: 20px 0;
}

.content_list {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
}

.content_list:last-child {
    margin-bottom: 0;
}

.content_alarm_section {
    display: inline-block;
    width: 55px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 10px;
}

.submission {
    position: relative;
    top: 5px;
    display: inline-block;
    width: 20px;
    height: 20px;
}

.submission_sign {
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 20px;
    background-color: rgb(0, 181, 103);
    text-align: center;
    box-sizing: border-box;
}

.scoring {
    position: relative;
    top: 5px;
    width: 20px;
    height: 20px;
    float: right;
}

.scoring_none {
    position: relative;
    left: 3px;
    font-size: 18px;
}

.scoring_ing_sign {
    width: 20px;
    height: 20px;
}

.scoring_ed_sign {
    width: 20px;
    height: 20px;
}

.content_detail_section {
    width: calc(100% - 105px);
    height: 30px;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    float: right;
    padding: 10px;
}

.book {
    display: inline-block;
    width: auto;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.section_icon {
    display: inline-block;
    width: 20px;
    margin-top: 5px;
    margin-right: 10px;
}

.section_text {
    display: inline-block;
}

.section_text p {
    font-size: 12px;
}

.limit {
    display: inline-block;
}

.limit .section_icon {
    position: relative;
    bottom: 2px;
}

.page_wrap {
    width: 100%;
    height: 30px;
    background-color: rgb(224, 238, 242);
    padding: 20px 0 100px 0;
    text-align: center;
}

.left_btn {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: bottom;
    margin-right: 15px;
}

.page_btn_wrap {
    display: inline-block;
    vertical-align: middle;
}

.page_btn {
    display: inline-block;
    margin: 0 5px;
}

.page_btn a {
    font-size: 14px;
    color: rgb(150, 150, 150);
}

.page_btn a.on {
    font-weight: 800;
    color: rgb(50, 50, 50);
}

.right_btn {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: bottom;
    margin-left: 15px;
}

/**/

.gray {
    background-color: rgb(150, 150, 150);
}

.green {
    background-color: rgb(0, 181, 103);
}

.red {
    background-color: rgb(255,53,38);
}

.blue {
    background-color: rgb(0, 112, 239);
}

.btn_on {
    background-color: rgb(217, 255, 230);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
}

.final {
    background-color: rgb(159, 220, 255);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
}