.head_p {
    width: calc(100% - 20px);
    height: 60px;
    background-color: rgb(255, 255, 255);
    border-top-right-radius: 15px;
    border-top-left-radius:  15px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
    margin: auto;
    margin-top: 60px;
}

.head_title {
    position: relative;
    display: inline-block;
    font-size: 18px;
    font-weight: 800;
    color: rgb(17, 90, 55);
    margin-left: 10px;
    padding-top: 15px;
}

.back_btn {
    width: 30px;
    height: 30px;
    float: right;
    margin-right: 10px;
    padding-top: 10px;
}

.content_p {
    position: relative;
    bottom: 10px;
    width: calc(100% - 20px);
    height: auto;
    background-color: rgb(242, 248, 249);
    border-top-right-radius: 15px;
    border-top-left-radius:  15px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
    margin: auto;
    padding-bottom: 10px;
}

.search_box_wrap {
    width: calc(100% - 40px);
    height: 30px;
    padding: 20px;
}

.search_box {
    width: calc(100% - 10px);
    height: 20px;
    border-radius: 5px;
    border: solid 1px rgb(220, 220, 220);
    background-color: rgb(255, 255, 255);
    padding: 5px;
}

.search_box input {
    width: calc(100% - 35px);
    border: none;
}

.search_btn {
    position: relative;
    top: 3px;
    width: 14px;
    float: right;
}

.content_detail_p {
    position: relative;
    bottom: 20px;
    width: calc(100% - 20px);
    height: auto;
    background-color: rgb(209, 229, 236);
    border-top-right-radius: 15px;
    border-top-left-radius:  15px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
    margin: auto;
}

.report_list_wrap {
    width: calc(100% - 20px);
    padding: 15px 10px;
}

.report_list {
    width: calc(100% - 20px);
    height: auto;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin-bottom: 10px;
}

.report_info {
    display: inline-block;
    max-width: calc(100% - 40px);
}

.date {
    font-size: 12px;
    color: rgb(150, 150, 150);
    margin-bottom: 3px;
}

.report_title {
    font-size: 14px;
    font-weight: 600;
}

.report_view_btn {
    position: relative;
    top: 6px;
    width: 20px;
    float: right;
}

.page_wrap {
    width: 100%;
    height: 30px;
    background-color: rgb(209, 229, 236);
    padding: 20px 0 100px 0;
    text-align: center;
}

.left_btn {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: bottom;
    margin-right: 15px;
}

.page_btn_wrap {
    display: inline-block;
    vertical-align: middle;
}

.page_btn {
    display: inline-block;
    margin: 0 5px;
}

.page_btn a {
    font-size: 14px;
    color: rgb(150, 150, 150);
}

.page_btn a.on {
    font-weight: 800;
    color: rgb(50, 50, 50);
}

.right_btn {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: bottom;
    margin-left: 15px;
}