.head_p {
    width: calc(100% - 20px);
    height: 60px;
    background-color: rgb(255, 255, 255);
    border-top-right-radius: 15px;
    border-top-left-radius:  15px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
    margin: auto;
    margin-top: 60px;
}

.head_title {
    position: relative;
    display: inline-block;
    font-size: 18px;
    font-weight: 800;
    color: rgb(17, 90, 55);
    margin-left: 10px;
    padding-top: 15px;
}

.back_btn {
    width: 30px;
    height: 30px;
    float: right;
    margin-right: 10px;
    padding-top: 10px;
}

.content_detail_p {
    position: relative;
    bottom: 10px;
    width: calc(100% - 20px);
    height: auto;
    min-height: 60vh;
    background-color: rgb(209, 229, 236);
    border-top-right-radius: 15px;
    border-top-left-radius:  15px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
    margin: auto;
}

.setting_menu {
    width: calc(100% - 20px);
    padding: 10px;
}

.setting_title {
    display: inline-block;
    width: 70px;
    font-size: 14px;
    font-weight: 600;
    vertical-align: top;
}

.setting_content {
    display: inline-block;
}

.push_radio {
    display: inline-block;
    width: auto;
    margin-right: 20px;
}

.push_radio input {
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    margin-right: 5px;
}

.push_radio p {
    display: inline-block;
    font-size: 14px;
}

.sound_radio {
    display: inline-block;
    width: auto;
    margin-right: 20px;
}

.sound_radio input {
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    margin-right: 5px;
}

.sound_radio p {
    display: inline-block;
    font-size: 14px;
}

.decoration {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 20px);
    height: 30px;
    padding: 20px 10px 10px 10px;
}

.deco_circle {
    width: 5vw;
    height: 5vw;
    border-radius: 20px;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, .2);
    background-color: rgb(251, 253, 255);
}