* {
    margin: 0;
    padding: 0;
    font-family: NanumSquare;
}

ul,
li,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(50, 50, 50);
}

html,
body {
    width: 100%;
    min-width: 1400px;
    height: 100%;
    overflow-x: auto;
    overflow-y: auto;
}

body {
    position: relative;
    background-color: white;
}

table {
    border-collapse: collapse;
}

h1, h2, h3, h4, h5, p, a {
    color: rgb(50, 50, 50);
}

/* header & section */

.header {
    width: 100%;
    height: 60px;
    padding: 0 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 5px rgb(200, 200, 200);
}

.logo_wrap {
    display: inline-block;
    width: 240px;
    height: 100%;
    margin-right: 20px;
}

.logo_wrap p {
    position: relative;
    top: 13px;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
}

.logo {
    position: relative;
    top: 15px;
    display: inline-block;
    width: auto;
    height: 30px;
    margin-right: 3px;
}

.logo img {
    height: 100%;
}

.page_title_wrap h1 {
    position: relative;
    top: 7px;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
}

nav {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    width: calc(100% - 620px);
    height: 60px;
}

.nav_menu {
    position: relative;
    top: 10px;
    display: inline-block;
    width: 180px;
    height: 40px;
    line-height: 40px;
    border-right: solid 1px rgb(150, 150, 150);
}

.nav_menu:nth-child(4) {
    border: none;
}

.nav_menu a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: 600;
    color: rgb(150, 150, 150);
    text-align: center;
}

.nav_menu a.on {
    color: rgb(2, 99, 34);
    font-weight: 800;
}

.header_right {
    display: inline-block;
    width: 350px;
    height: 100%;
    float: right;
    margin-left: 12px;
}

.user_img {
    position: relative;
    top: 10px;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

.user_img img {
    width: 100%;
}

.user_id {
    position: relative;
    bottom: 5px;
    display: inline-block;
    font-size: 18px;
}

.logout_btn {
    position: relative;
    top: 13px;
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    border: solid 1px rgb(150, 150, 150);
    background-color: rgb(230, 230, 230);
    float: right;
}

.logout_btn a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}

.pass_change_btn {
    position: relative;
    top: 13px;
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    border: solid 1px rgb(150, 150, 150);
    background-color: rgb(230, 230, 230);
    float: right;
    margin-right: 10px;
}

.pass_change_btn a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}

/* header & section */

/* font */

@font-face {
    font-family: 'Nanum Square';
    src: url('fonts/NanumSquareL.eot'); /* IE9 Compat Modes */
    src: url('fonts/NanumSquareL.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/NanumSquareL.woff') format('woff'), /* Modern Browsers */
         url('fonts/NanumSquareL.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('fonts/NanumSquareOTFLight.svg#017f9c78318bcde3d1dc4451e8eaca0a') format('svg'); /* Legacy iOS */
         
    font-style:   normal;
    font-weight:  300;
  }
  
  @font-face {
    font-family: 'Nanum Square';
    src: url('fonts/NanumSquareR.eot'); /* IE9 Compat Modes */
    src: url('fonts/NanumSquareR.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/NanumSquareR.woff') format('woff'), /* Modern Browsers */
         url('fonts/NanumSquareR.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('fonts/NanumSquareOTFR.svg#9e23ceb0c858ca37642ba540402577eb') format('svg'); /* Legacy iOS */
         
    font-style:   normal;
    font-weight:  400;
  }
  
  @font-face {
    font-family: 'Nanum Square';
    src: url('fonts/NanumSquareB.eot'); /* IE9 Compat Modes */
    src: url('fonts/NanumSquareB.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/NanumSquareB.woff') format('woff'), /* Modern Browsers */
         url('fonts/NanumSquareB.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('fonts/NanumSquareOTFB.svg#a41a1fda1fdf3dafd3394867a156b1cf') format('svg'); /* Legacy iOS */
         
    font-style:   normal;
    font-weight:  700;
  }
  
  @font-face {
    font-family: 'Nanum Square';
    src: url('fonts/NanumSquareEB.eot'); /* IE9 Compat Modes */
    src: url('fonts/NanumSquareEB.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/NanumSquareEB.woff') format('woff'), /* Modern Browsers */
         url('fonts/NanumSquareEB.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('fonts/NanumSquareOTFExtraBold.svg#090d6763bc81b49309446d23fbd10e87') format('svg'); /* Legacy iOS */
         
    font-style:   normal;
    font-weight:  900;
  }