.section {
    width: calc(100% - 60px);
    height: auto;
    padding: 0 30px;
}

.title_box {
    width: 100%;
    height: 820px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgb(200, 200, 200);
    margin-top: 20px;
}

.title_logo_wrap {
    width: 500px;
    height: auto;
    margin: auto;
    padding-top: 200px;
    margin-bottom: 20px;
}

.title_logo_wrap img {
    width: 100%;
}

.title_box p {
    font-size: 28px;
    font-weight: 800;
    text-align: center;
}

.title_box p span:nth-child(2) {
    color: rgb(2, 99, 34);
}