.section {
    width: calc(100% - 60px);
    height: auto;
    padding: 0 30px;
}

.member_login_box {
    width: 360px;
    height: 560px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 8px rgb(200, 200, 200);
    margin: auto;
    margin-top: 100px;
    padding: 20px;
}

.member_login_box p:nth-child(1) {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
}

.logo_section {
    width: 100%;
    height: auto;
    margin-top: 80px;
}

.logo_login {
    width: 250px;
    height: 100%;
    margin: auto;
}

.logo_login img {
    width: 100%;
}

.form_section {
    width: 260px;
    height: auto;
    margin: 20px auto;
}

.form_section input {
    display: block;
    width: calc(100% - 20px);
    height: 20px;
    padding: 10px;
    margin-bottom: 10px;
}

.member_login_box p:nth-child(4) {
    font-size: 16px;
    text-align: center;
} 

.ok_btn {
    width: 260px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    background-color: rgb(2, 99, 34);
    margin: auto;
    margin-top: 50px;
}

.ok_btn a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-align: center;
}