.wrapper { 
    width: 400px;
    height: 600px;
    margin: auto;
    margin-top: 100px;
}

.hello_text {
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 20px;
}

.hello_text h3 {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 10px;
}

.hello_text p {
    font-size: 18px;
    font-weight: 600;
}

.login_box {
    width: 100%;
    height: 500px;
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(150, 150, 150);
}

.login_inner_wrap {
    width: calc(100% - 80px);
    height: calc(100% - 60px);
    padding: 30px 40px;
}

.login_user_img {
    width: 60px;
    height: 60px;
    border-radius: 40px;
    overflow: hidden;
    margin: auto;
}

.login_user_img img {
    width: 100%;
}

.login_section {
    width: 100%;
    height: auto;
    margin: 20px 0;
}

.login_section>form {
    width: 100%;
    height: 100%;
}

.login_section>form>div {
    width: 100%;
    height: auto;
    margin: auto;
}

.login_section>form>div>div {
    width: 100%;
    height: 40px;
    border: solid 1px rgb(150, 150, 150);
    margin: auto;
}

.login_section>form>.id_wrap {
    margin-bottom: 20px;
}

.input_title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

.input_img {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 10px 10px 10px 15px;
}

.input_img>img {
    width: 100%;
}

.login_input {
    position: relative;
    bottom: 2px;
    display: inline-block;
    width: calc(100% - 69px);
    height: 31px;
    border: none;
    font-size: 17px;
    font-family: none !important;
}

.auto_id {
    width: 100%;
    height: auto;
}

.auto_id>input {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 10px 40px 0;
}

.auto_id>p {
    display: inline-block;
    font-size: 16px;
}

.login_btn {
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
    background-color: rgb(57, 59, 151)
}

.login_btn a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.eng_agit {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.eng_agit p {
    font-size: 18px;
    font-weight: 600;
}